<div class="jumbotron jumbotron-fluid p-1 bg-light">
    <div class="container">
        <h1 class="display-4 pawpals mb-3 mt-2">Find Your New Paw Pal Today!</h1>
        <div class="m-3 text-center rounded-circle">
            <iframe src="https://giphy.com/embed/3XOC1w3nfJ5GWjuTSj" width="280" height="280" frameBorder="0"
                class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</div>

<div class="container mb-5">
    <h2 class="mb-4 mt-5 pb-2 text-center">About us!</h2>
    <div class="border-1">
        <p class="mb-2"> The purpose of a Paw Pals is to connect loving pet owner with animals in need of a home. The
            website serves as a platform for animal shelters and rescue organizations to showcase their adoptable pets
            and
            find them new families. </p>
        <p class="mb-2"> Under Pal Place you can find features photos and descriptions of each pet, as well as
            information
            on their personality, habits, and needs. Prospective adopters can browse the available animals and learn
            more
            about them, and if they find a pet they're interested in, they can contact the shelter or rescue
            organization
            to
            learn more and begin the adoption process. </p>
        <p class="mb-2"> Our ultimate goal is to find forever homes for as many animals as possible, helping to reduce
            pet
            homelessness
            and improve the lives of both pets and their new owners. </p>
    </div>
</div>