<div class="jumbotron jumbotron-fluid p-1 bg-light">
    <div class="container">
        <h1 class="display-4 pawpals">Find Your New Paw Pal Today!</h1>
        <p class="lead">
            We are so excited that you are joining our Paw Pals community!😍
        </p>
    </div>
</div>

<!-- <h1>Contact Us or Apply for your pal today!</h1> -->

<div class="container mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card my-3">
                <form class="card-body cardbody-color p-lg-2">
                    <div class="text-center">
                        <img src="/images/newuser.png"
                            class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
                            alt="profile" />
                    </div>

                    <div class="mb-3">
                        <input type="text" class="form-control" id="fullname" placeholder="Full Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="email" placeholder="Email Address">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                    </div>
                    <div class="text-center">
                        <button onclick="displayAlert()" type="submit" class="btn btn-color px-5 mb-5">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>