<div class="jumbotron jumbotron-fluid p-1 bg-light">
    <div class="container">
        <h1 class="display-4 pawpals mb-3 mt-2">Find Your New Dog Today!</h1>
        <div class="m-3 text-center rounded-circle">
            <iframe src="https://giphy.com/embed/kiBcwEXegBTACmVOnE" width="384" height="480" frameBorder="0"
                class="giphy-embed" allowFullScreen></iframe>
        </div>
        <p class="lead">
            Browse the different dogs below to find the best pal for
            you! Once you've found your newest pal, click on our Contact Us or
            login to submit your application today.
        </p>
    </div>
</div>

<div class="container mb-5 d-flex flex-wrap justify-content-evenly" id="dogies">

</div>