/* Pseudo-class that matches the root element of the document. */
:root {
  --dark-shades: rgb(4, 8, 11);
  --dark-accent: rgb(171, 15, 163);
  --main-brand: #09317b;
  --light-accent: #c0d5f7;
  --light-shades: #ebf2fa;
  --heading: 'Mochiy Pop One', sans-serif;
  --body: 'Oswald', sans-serif;
}

* {
  font-family: var(--heading);
}

.title {
  font-size: 30px;
}

.lead {
  text-align: center;
  font-size: large;
}

.banner {
  padding: 25px;
  display: flex;
  flex-direction: row;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.btn {
  border-radius: 2px;
  width: 15%;
  height: 20%;
  background-color: rgb(255, 48, 48);
  border-color: rgb(56, 56, 56);
  border-radius: 20px;
  border-width: 1%;
  margin-right: auto;
  margin-left: auto;
}

.btn-color {
  background-color: var(--main-brand);
  color: #fff;
  border-color: #c0d5f7;

}

li {
  list-style: none;
}

.profile-image-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.cardbody-color {
  background-color: var(--light-shades);
}

.pawpals {
  /* background-color: #c8dbf0; */
  text-align: center;
}

.dogGif {
  max-width: 250px;
}

h3,
span {
  color: var(--main-brand);
}

.petCard {
  margin: 15px 2px;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--main-brand);
  width: 20vw;
  height: 45vh;
  text-align: center;
  object-fit: contain;
  padding-bottom: 50px !important;
}

.petName {
  font-size: 28px;
}

.petName,
.age {
  margin-bottom: 20px;
}

.age {
  margin-left: 1rem;
  font-size: 20px;
}

.petImg {
  width: 140px;
  height: 140px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.breed {
  margin: 10px;
  font-size: 19px;
}

.column {
  float: left;
  width: 25%;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}