* {
    font-family: 'Mochiy Pop One', sans-serif;
}

.title {
    font-size: 30px;
}

.lead {
    text-align: center;
    font-size: large;
}

.banner {
    padding: 25px;
    display: flex;
    flex-direction: row;
}

.titleContainer {
    display: flex;
    flex-direction: column;
}

.btn-color{
    background-color: #09317b;
    color: #fff;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  .pawpals {
    /* background-color: #c8dbf0; */
    text-align: center;
  }